{% extends 'base.html' %}

{% block head %}
    <title>iRCT Home Page</title>
{% endblock %}

{% block body %}
    <div id="body">
        <h1>Welcome to iMedCausal's webpage!</h1>
        <h2>About Learning Causal Risk Factors to a Chosen Target</h2>
        
        <br/>

        <a href="/iRCTHome">Go to iRCT page.</a>

        <br/>
        <br/>

        <h2>About Learning Causal Networks from Data.</h2>

        <br/>
        <a href="/CausalLearnHome">Go to Causal Learning page.</a>

        <br/>
    </div>
{% endblock %}