{% extends 'base.html' %}

{% block head %}
    <title>iRCT Function Page</title>
{% endblock %}

{% block body %}
    <div id="submit_irct">
        <p>File successfully uploaded!</p>
        <p>File Name: {{name}}</p>

        <form method="POST">

            <p>The treatment column is the column that is being determined if it is influencing the outcome column.</p>
            <label for="treat_column">Choose the treatment column:</label>
            <select id="columns" name="treat_column">
                {% if functionNum == "1" %}
                    <option value='N/A'>N/A</option>
                {% endif %}
                {% if functionNum != "1" %}
                    {% for column in columns %}
                    <option value='{{column}}'>{{ column }}</option>
                    {% endfor %}
                {% endif %}
            </select>

            <br/>

            <p>The outcome column is the column that is being determined if it is being influenced by the treatment column. If MBIL is chosen this is the target variable to determine all direct causes.</p>
            <label for="out_column">Choose the outcome column:</label>
            <select id="columns" name="out_column">
                {% for column in columns %}
                <option value='{{column}}'>{{ column }}</option>
                {% endfor %}
            </select>
            
            {% if functionNum == "4" %}
                <p>If you chose the single covariate option, please choose the column that will be your single covariate.</p>
                <label for="covariate_column">Choose the single covariate column:</label>
                <select id="columns" name="covariate_column">
                    {% for column in columns %}
                    <option value='{{column}}'>{{ column }}</option>
                    {% endfor %}
                </select>
            {% endif %}

            <br/>

            <select name="fileName" hidden>
                <option value='{{ name }}'></option>
            </select>

            <br/>

            <select name="delimiter" hidden>
                <option value='{{ delim }}'></option>
            </select>

            <br/>

            <select name="functionNum" hidden>
                <option value=' {{ functionNum }}'></option>
            </select>
            
            <br/>

            <input type="submit" value="Submit">
        </form>
        
    </div>
{% endblock %}